---
import RootLayout from '../../components/RootLayout.astro'
import GoToAppButton from '../../components/GoToAppButton.astro'
---
<style>
  .center {
    text-align: center;
  }

  ul {
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<RootLayout
  title="Thank You - FeyNote"
  description="Thank you for supporting FeyNote! Your contribution helps us build the best free TTRPG note-taking app."
  noindex={true}
>
  <div class="center">
    <h1>Thank You!</h1>

    We really appreciate your support and hope you enjoy using Feynote. If you have any questions or feedback, please don't hesitate to reach out to us on Discord. We're always looking for ways to improve!

    <GoToAppButton />
  </div>
</RootLayout>
