EMAIL_FROM_NAME="Feynote Dev"
EMAIL_FROM_ADDRESS=noreply@feynote.com
EMAIL_REPLY_TO_ADDRESS=julian@poyourow.com

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=val
AWS_SECRET_ACCESS_KEY=val
AWS_BUCKET_ARTIFACT=dev-feynote-artifact-assets
AWS_BUCKET_JOB=dev-feynote-jobs

AI_PROVIDER=openrouter
AI_API_KEY=val
AI_MODEL_CHAT_LOW=anthropic/claude-haiku-4.5
AI_MODEL_CHAT_HIGH=anthropic/claude-sonnet-4.6
AI_MODEL_SCRAPE_URL=google/gemini-2.5-flash
AI_MODEL_THREAD_TITLE=google/gemini-2.5-flash

SENTRY_API_SAMPLING_RATE="0"
SENTRY_HOCUSPOCUS_SAMPLING_RATE="0"
SENTRY_WEBSOCKET_SAMPLING_RATE="0"
SENTRY_QUEUE_WORKER_SAMPLING_RATE="0"

STRIPE_WEBHOOK_SECRET=val

GOOGLE_CLIENT_ID=458922288770-fig3hth6vu4ujhlg9slhsmbcrv2atug6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=optional

API_PUBLIC_URL=https://example.com
