name: feynote
services:
  proxy:
    image: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'
    command: nginx -g 'daemon off;'
    depends_on:
      - frontend
      - backend
  proxy-www:
    image: nginx
    volumes:
      - ./nginx/default-www.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '8080:80'
    command: nginx -g 'daemon off;'
    depends_on:
      - www
      - backend
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve frontend --skip-nx-cache
    environment:
      - VITE_ENVIRONMENT=development
    depends_on:
      - backend
  www:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve www --skip-nx-cache
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
    depends_on:
      - backend
  hocuspocus:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve hocuspocus --skip-nx-cache
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - EMAIL_FROM_NAME=val
      - EMAIL_FROM_ADDRESS=val
      - EMAIL_REPLY_TO_ADDRESS=val
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
      - WORKER_REDIS_HOST=queue-worker-valkey
      - WORKER_REDIS_PORT=6379
      - HOCUSPOCUS_REDIS_HOST=hocuspocus-valkey
      - HOCUSPOCUS_REDIS_PORT=6379
      - NODE_ENV=development
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - queue-worker-valkey
      - hocuspocus-valkey
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve backend --skip-nx-cache
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - EMAIL_FROM_NAME=val
      - EMAIL_FROM_ADDRESS=val
      - EMAIL_REPLY_TO_ADDRESS=val
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
      - WORKER_REDIS_HOST=queue-worker-valkey
      - WORKER_REDIS_PORT=6379
      - HOCUSPOCUS_REDIS_HOST=hocuspocus-valkey
      - HOCUSPOCUS_REDIS_PORT=6379
      - NODE_ENV=development
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - queue-worker-valkey
  queue-worker:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve queue-worker --skip-nx-cache
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - EMAIL_FROM_NAME=val
      - EMAIL_FROM_ADDRESS=val
      - EMAIL_REPLY_TO_ADDRESS=val
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
      - WORKER_REDIS_HOST=queue-worker-valkey
      - WORKER_REDIS_PORT=6379
      - HOCUSPOCUS_REDIS_HOST=hocuspocus-valkey
      - HOCUSPOCUS_REDIS_PORT=6379
      - NODE_ENV=development
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - queue-worker-valkey
  postgres:
    image: postgres:16.0
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=feynote
      - POSTGRES_USER=feynote
      - POSTGRES_PASSWORD=feynote
  typesense:
    image: typesense/typesense:0.25.2
    restart: on-failure
    command: '--data-dir /media --api-key=feynote --enable-cors'
  5e-database:
    image: redchickenco/5e-database:3.3.4
  5e-srd-api:
    image: redchickenco/5e-srd-api:3.7.2
    environment:
      MONGODB_URI: mongodb://5e-database/5e-database
      REDIS_URL: redis://5e-srd-redis:6379
    depends_on:
      - 5e-database
      - 5e-srd-redis
  5e-srd-redis:
    image: valkey/valkey:7.2.5-bookworm
  queue-worker-valkey:
    image: valkey/valkey:7.2.5-bookworm
  hocuspocus-valkey:
    image: valkey/valkey:7.2.5-bookworm
