name: feynote
services:
  proxy:
    image: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'
    command: nginx -g 'daemon off;'
    depends_on:
      - frontend
      - backend
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve frontend
    depends_on:
      - backend
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve backend
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - EMAIL_FROM_NAME=val
      - EMAIL_FROM_ADDRESS=val
      - EMAIL_REPLY_TO_ADDRESS=val
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
  postgres:
    image: postgres:16.0
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=feynote
      - POSTGRES_USER=feynote
      - POSTGRES_PASSWORD=feynote
  typesense:
    image: typesense/typesense:0.25.2
    restart: on-failure
    command: '--data-dir /media --api-key=feynote --enable-cors'
