name: feynote
services:
  proxy:
    image: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'
      - '8080:8080'
    command: nginx -g 'daemon off;'
    depends_on:
      - frontend
      - backend
      - www
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve frontend
    environment:
      - VITE_ENVIRONMENT=development
    depends_on:
      - backend
  www:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve www
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
    depends_on:
      - backend
  hocuspocus:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve hocuspocus
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
      - WORKER_REDIS_HOST=queue-worker-valkey
      - WORKER_REDIS_PORT=6379
      - HOCUSPOCUS_REDIS_HOST=hocuspocus-valkey
      - HOCUSPOCUS_REDIS_PORT=6379
      - WEBSOCKET_REDIS_HOST=socketio-valkey
      - WEBSOCKET_REDIS_PORT=6379
      - NODE_ENV=development
      - PROXY_ENABLED=false
      - PROXY_URL=val
      - PROXY_USERNAME=val
      - PROXY_PASSWORD=val
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - queue-worker-valkey
      - hocuspocus-valkey
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve backend
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
      - WORKER_REDIS_HOST=queue-worker-valkey
      - WORKER_REDIS_PORT=6379
      - HOCUSPOCUS_REDIS_HOST=hocuspocus-valkey
      - HOCUSPOCUS_REDIS_PORT=6379
      - WEBSOCKET_REDIS_HOST=socketio-valkey
      - WEBSOCKET_REDIS_PORT=6379
      - NODE_ENV=development
      - PROXY_ENABLED=false
      - PROXY_URL=val
      - PROXY_USERNAME=val
      - PROXY_PASSWORD=val
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - queue-worker-valkey
  queue-worker:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve queue-worker
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
      - WORKER_REDIS_HOST=queue-worker-valkey
      - WORKER_REDIS_PORT=6379
      - HOCUSPOCUS_REDIS_HOST=hocuspocus-valkey
      - HOCUSPOCUS_REDIS_PORT=6379
      - WEBSOCKET_REDIS_HOST=socketio-valkey
      - WEBSOCKET_REDIS_PORT=6379
      - NODE_ENV=development
      - PROXY_ENABLED=false
      - PROXY_URL=val
      - PROXY_USERNAME=val
      - PROXY_PASSWORD=val
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - queue-worker-valkey
  websocket:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: npx nx serve websocket
    environment:
      - DATABASE_URL=postgresql://feynote:feynote@postgres:5432/feynote?schema=public
      - SEARCH_PROVIDER=typesense
      - TYPESENSE_API_KEY=feynote
      - 'TYPESENSE_NODES=[{"host": "typesense", "port": 8108, "protocol": "http"}]'
      - WORKER_REDIS_HOST=queue-worker-valkey
      - WORKER_REDIS_PORT=6379
      - HOCUSPOCUS_REDIS_HOST=hocuspocus-valkey
      - HOCUSPOCUS_REDIS_PORT=6379
      - WEBSOCKET_REDIS_HOST=websocket-valkey
      - WEBSOCKET_REDIS_PORT=6379
      - NODE_ENV=development
      - PROXY_ENABLED=false
      - PROXY_URL=val
      - PROXY_USERNAME=val
      - PROXY_PASSWORD=val
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - queue-worker-valkey
      - websocket-valkey
  postgres:
    image: postgres:16.0
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=feynote
      - POSTGRES_USER=feynote
      - POSTGRES_PASSWORD=feynote
  typesense:
    image: typesense/typesense:0.25.2
    restart: on-failure
    command: '--data-dir /media --api-key=feynote --enable-cors'
  queue-worker-valkey:
    image: valkey/valkey:7.2.5-bookworm
  hocuspocus-valkey:
    image: valkey/valkey:7.2.5-bookworm
  websocket-valkey:
    image: valkey/valkey:7.2.5-bookworm
