x-common-env-vars: &common-env-vars
  DATABASE_URL: postgresql://feynote:feynote@postgres:5432/feynote?schema=public
  SEARCH_PROVIDER: typesense
  TYPESENSE_API_KEY: feynote
  TYPESENSE_NODES: '[{"host": "typesense", "port": 8108, "protocol": "http"}]'
  HOCUSPOCUS_API_KEY: development
  HOCUSPOCUS_INTERNAL_REST_BASE_URL: http://hocuspocus:8081
  WORKER_REDIS_HOST: valkey
  HOCUSPOCUS_REDIS_HOST: valkey
  WEBSOCKET_REDIS_HOST: valkey
  STRIPE_API_KEY: sk_test_51QZhUtEHixV6tgdWnpCBvgiQiPaTEifG5MWU9oK4juqexnXL2QcSsrs8nKc44G64DEhifwSRoN4nErbXgPBZI2If00g9BilVjF
  GOOGLE_GSI_CLIENT: 458922288770-fig3hth6vu4ujhlg9slhsmbcrv2atug6.apps.googleusercontent.com
  GOOGLE_GFP_CLIENT: 458922288770-u99e4b2eq5pl4fd26nnk8kmt6mtqogka.apps.googleusercontent.com
  NODE_ENV: development
  VITE_ENVIRONMENT: development
  APP_VERSION: development
  VITE_APP_VERSION: development
  PROXY_ENABLED: 'false'
  PROXY_URL: val
  PROXY_USERNAME: val
  PROXY_PASSWORD: val
  LOGGER_LEVEL: debug
  LOGGER_TRANSPORTS_CONSOLE: 'true'
  LOGGER_TRANSPORTS_SENTRY: 'false'

name: feynote
services:
  proxy:
    image: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'
      - '8080:8080'
      - '8081:8081'
    command: nginx -g 'daemon off;'
    depends_on:
      - frontend
      - backend
      - www
    stop_grace_period: 1s
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve frontend
    environment:
      <<: *common-env-vars
    depends_on:
      - backend
    stop_grace_period: 1s
  www:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve www
    environment:
      <<: *common-env-vars
    depends_on:
      - backend
    stop_grace_period: 1s
  docs:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: npx nx serve docs
    environment:
      <<: *common-env-vars
    stop_grace_period: 1s
  hocuspocus:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - '9001:9229'
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: ./scripts/watchandrun.sh 'tsx --inspect=0.0.0.0 --tsconfig ./apps/hocuspocus/tsconfig.json --enable-source-maps ./apps/hocuspocus/src/main.ts' ./apps/hocuspocus ./libs/prisma ./libs/queue ./libs/api-services ./libs/search ./libs/global-types ./libs/config ./libs/shared-utils
    environment:
      SWC_NODE_PROJECT: ./apps/hocuspocus/tsconfig.json
      <<: *common-env-vars
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - valkey
    stop_grace_period: 1s
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - '9000:9229'
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: ./scripts/watchandrun.sh 'tsx --inspect=0.0.0.0 --tsconfig ./apps/backend/tsconfig.json --enable-source-maps ./apps/backend/src/main.ts' ./apps/backend ./libs/trpc ./libs/prisma ./libs/queue ./libs/api-services ./libs/search ./libs/global-types ./libs/config ./libs/shared-utils
    environment:
      SWC_NODE_PROJECT: ./apps/backend/tsconfig.json
      <<: *common-env-vars
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - valkey
    stop_grace_period: 1s
  queue-worker:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - '9002:9229'
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: ./scripts/watchandrun.sh 'tsx --inspect=0.0.0.0 --tsconfig ./apps/queue-worker/tsconfig.json --enable-source-maps ./apps/queue-worker/src/main.ts' ./apps/queue-worker ./libs/prisma ./libs/queue ./libs/api-services ./libs/search ./libs/global-types ./libs/config ./libs/shared-utils
    environment:
      SWC_NODE_PROJECT: ./apps/queue-worker/tsconfig.json
      <<: *common-env-vars
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - valkey
    stop_grace_period: 1s
  websocket:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - '9003:9229'
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
      - ./prisma:/app/prisma
    command: ./scripts/watchandrun.sh 'tsx --inspect=0.0.0.0 --tsconfig ./apps/websocket/tsconfig.json --enable-source-maps ./apps/websocket/src/main.ts' ./apps/websocket ./libs/prisma ./libs/queue ./libs/api-services ./libs/search ./libs/global-types ./libs/config ./libs/shared-utils
    environment:
      SWC_NODE_PROJECT: ./apps/websocket/tsconfig.json
      <<: *common-env-vars
    env_file:
      - ./.env
    depends_on:
      - postgres
      - typesense
      - valkey
    stop_grace_period: 1s
  nxgraph:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - '4211:4211'
    environment:
      APP_VERSION: development
    volumes:
      - ./apps:/app/apps
      - ./libs:/app/libs
    command: ./scripts/watchandrun.sh 'npx nx graph --host=0.0.0.0 --open=false' ./apps ./libs
    stop_grace_period: 1s
  postgres:
    image: postgres:16.0
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: feynote
      POSTGRES_USER: feynote
      POSTGRES_PASSWORD: feynote
  typesense:
    image: typesense/typesense:29.0
    restart: on-failure
    command: '--data-dir /media --api-key=feynote --enable-cors'
  valkey:
    image: valkey/valkey:7.2.10-bookworm
