@font-face {
  font-family: 'MrEavesRemake';
  src: url('/fonts/mr-eaves/mr-eaves-small-caps.woff2') format('woff2');
}

@font-face {
  font-family: 'ScalySansRemake';
  src: url('/fonts/scaly-sans/scaly-sans.woff2') format('woff2');
}

@font-face {
  font-family: 'ScalySansCapsRemake';
  src: url('/fonts/scaly-sans/scaly-sans-caps.woff2') format('woff2');
}

@font-face {
  font-family: 'BookInsanityRemake';
  src: url('/fonts/book-insanity/book-insanity.woff2') format('woff2');
}
