@font-face {
  font-family: 'MrEavesRemake';
  src: url('/fonts/mr-eaves-small-caps.woff2') format('woff2');
}

@font-face {
  font-family: 'ScalySansRemake';
  src: url('/fonts/scaly-sans.woff2') format('woff2');
}

@font-face {
  font-family: 'ScalySansCapsRemake';
  src: url('/fonts/scaly-sans-caps.woff2') format('woff2');
}

hr {
  background: var(--ion-color-medium);
}

.bn-drag-preview:has(.node-monsterSheet) {
  display: none;
}
