version: 2.1
orbs:
  aws-cli: circleci/aws-cli@1.0.0
commands:
  install-dependencies:
    steps:
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package-lock.json" }}
            - dependency-cache-
      - run:
          name: install-deps
          command: 'npm ci'
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
jobs:
  build_and_test:
    resource_class: medium
    docker:
      - image: cimg/node:20.11
        environment:
          EMAIL_FROM_NAME: CI_PLACEHOLDER
          EMAIL_FROM_ADDRESS: CI_PLACEHOLDER
          EMAIL_REPLY_TO_ADDRESS: CI_PLACEHOLDER
          AWS_REGION: CI_PLACEHOLDER
          AWS_ACCESS_KEY_ID: CI_PLACEHOLDER
          AWS_SECRET_ACCESS_KEY: CI_PLACEHOLDER
          DATABASE_URL: postgresql://dnd-assistant:dnd-assistant@localhost:5432/dnd-assistant?schema=public
      - image: postgres:16.1
        environment:
          POSTGRES_USER: dnd-assistant
          POSTGRES_PASSWORD: dnd-assistant
          POSTGRES_DB: dnd-assistant
    steps:
      - checkout
      - install-dependencies
      - run:
          name: prettier
          command: npx prettier --check .
      - run:
          name: migrate
          command: npx prisma migrate dev
      - run:
          name: lint, typecheck, test, build
          command: npx nx run-many --targets=lint,typecheck,test,build
  push_backend:
    resource_class: medium
    docker:
      - image: cimg/node:20.11
    steps:
      - checkout
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: push
          command: ./scripts/build-push-api-dockerhub.sh ${CIRCLE_TAG:=stg}
  push_frontend:
    resource_class: medium
    docker:
      - image: cimg/node:20.11
    steps:
      - checkout
      - aws-cli/setup
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - install-dependencies
      - run:
          name: build-frontend
          command: npx nx build frontend --skip-nx-cache
      - run:
          name: move-frontend-build
          command: mv dist/apps/frontend ./www
      - run:
          name: set-frontend-version
          command: sed -i "s/window.version = \"development\";/window.version = \"${CIRCLE_TAG:=stg}\";/" www/index.html
      # - run:
      #     name: set-service-worker-version
      #     command: sed -i "s/APP_VERSION = \"development\";/APP_VERSION = \"${CIRCLE_TAG:=stg}\";/" www/service-worker.js
      - run:
          name: push
          command: ./scripts/push-frontend-s3.sh ${CIRCLE_TAG:=stg}

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - push_backend:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
      - push_frontend:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
