version: 2.1
orbs:
  aws-cli: circleci/aws-cli@5.1.0
  node: circleci/node@7.1.0
jobs:
  build_and_test:
    resource_class: medium+
    docker:
      - image: cimg/node:24.7
        environment:
          EMAIL_FROM_NAME: CI_PLACEHOLDER
          EMAIL_FROM_ADDRESS: CI_PLACEHOLDER
          EMAIL_REPLY_TO_ADDRESS: CI_PLACEHOLDER
          AWS_REGION: CI_PLACEHOLDER
          AWS_ACCESS_KEY_ID: CI_PLACEHOLDER
          AWS_SECRET_ACCESS_KEY: CI_PLACEHOLDER
          DATABASE_URL: postgresql://dnd-assistant:dnd-assistant@localhost:5432/dnd-assistant?schema=public
          NODE_OPTIONS: --max-old-space-size=4096
      - image: postgres:16.1
        environment:
          POSTGRES_USER: dnd-assistant
          POSTGRES_PASSWORD: dnd-assistant
          POSTGRES_DB: dnd-assistant
    steps:
      - checkout
      - node/install-packages
      - run:
          name: prettier
          command: npx prettier --check .
      - run:
          name: migrate
          command: npx prisma migrate dev
      - run:
          name: lint, lint-locales, typecheck, test, build
          command: |
            export ENABLE_BUNDLE_ANALYZER=true
            npx nx run-many --targets=lint,lint-locales,typecheck,test,build
      - store_artifacts:
          path: ./dist/apps/frontend/stats.html
          destination: frontend-bundle-stats.html
  push_backend:
    resource_class: medium
    docker:
      - image: cimg/node:24.7
    steps:
      - checkout
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: push
          command: |
            export SOURCEMAP_UPLOAD=true
            ./scripts/build-push-api-dockerhub.sh ${CIRCLE_TAG:=stg}
  push_frontend:
    resource_class: large
    docker:
      - image: cimg/node:24.7
    steps:
      - checkout
      - aws-cli/setup
      - node/install-packages
      - run:
          name: build-frontend
          command: |
            export VITE_APP_VERSION=$CIRCLE_TAG
            export SOURCEMAP_UPLOAD=true
            export NODE_OPTIONS=--max-old-space-size=8192
            npx nx build frontend --skip-nx-cache
            [ -f "dist/apps/frontend/index.html" ] && [ -f "dist/apps/frontend/service-worker.js" ] || { echo "Both index.html and service-worker.js must exist. Something went wrong during build"; exit 1; }
      - run:
          name: move-frontend-build
          command: mv dist/apps/frontend ./www
      - run:
          name: push
          command: ./scripts/push-frontend-s3.sh ${CIRCLE_TAG:=stg}
  push_docs:
    resource_class: medium
    docker:
      - image: cimg/node:24.7
    steps:
      - checkout
      - aws-cli/setup
      - node/install-packages
      - run:
          name: build-docs
          command: npx nx build docs --skip-nx-cache
      - run:
          name: push
          command: ./scripts/push-docs-s3.sh ${CIRCLE_TAG:=stg}
  push_selfhost_app_amd64:
    resource_class: medium
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: build-and-push-amd64
          command: |
            TAG=${CIRCLE_TAG:-dev-$(git rev-parse --short HEAD)}
            docker build \
              --file ./scripts/selfhost/Dockerfile.selfhost.app \
              --build-arg APP_VERSION=${TAG} \
              --tag feynote/feynote-selfhost-app:${TAG}-amd64 \
              .
            docker push feynote/feynote-selfhost-app:${TAG}-amd64
  push_selfhost_app_arm64:
    resource_class: arm.medium
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: build-and-push-arm64
          command: |
            TAG=${CIRCLE_TAG:-dev-$(git rev-parse --short HEAD)}
            docker build \
              --file ./scripts/selfhost/Dockerfile.selfhost.app \
              --build-arg APP_VERSION=${TAG} \
              --tag feynote/feynote-selfhost-app:${TAG}-arm64 \
              .
            docker push feynote/feynote-selfhost-app:${TAG}-arm64
  combine_selfhost_app_manifest:
    resource_class: medium
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: setup-buildx
          command: |
            docker buildx create --use --name manifest-builder --driver docker-container
            docker buildx inspect --bootstrap
      - run:
          name: create-and-push-manifest
          command: |
            TAG=${CIRCLE_TAG:-dev-$(git rev-parse --short HEAD)}
            docker buildx imagetools create -t feynote/feynote-selfhost-app:${TAG} \
              feynote/feynote-selfhost-app:${TAG}-amd64 \
              feynote/feynote-selfhost-app:${TAG}-arm64
  push_selfhost_proxy_amd64:
    resource_class: medium
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: build-and-push-amd64
          command: |
            TAG=${CIRCLE_TAG:-dev-$(git rev-parse --short HEAD)}
            docker build \
              --file ./scripts/selfhost/Dockerfile.selfhost.proxy \
              --build-arg APP_VERSION=${TAG} \
              --tag feynote/feynote-selfhost-proxy:${TAG}-amd64 \
              .
            docker push feynote/feynote-selfhost-proxy:${TAG}-amd64
  push_selfhost_proxy_arm64:
    resource_class: arm.medium
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: build-and-push-arm64
          command: |
            TAG=${CIRCLE_TAG:-dev-$(git rev-parse --short HEAD)}
            docker build \
              --file ./scripts/selfhost/Dockerfile.selfhost.proxy \
              --build-arg APP_VERSION=${TAG} \
              --tag feynote/feynote-selfhost-proxy:${TAG}-arm64 \
              .
            docker push feynote/feynote-selfhost-proxy:${TAG}-arm64
  combine_selfhost_proxy_manifest:
    resource_class: medium
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: setup-buildx
          command: |
            docker buildx create --use --name manifest-builder --driver docker-container
            docker buildx inspect --bootstrap
      - run:
          name: create-and-push-manifest
          command: |
            TAG=${CIRCLE_TAG:-dev-$(git rev-parse --short HEAD)}
            docker buildx imagetools create -t feynote/feynote-selfhost-proxy:${TAG} \
              feynote/feynote-selfhost-proxy:${TAG}-amd64 \
              feynote/feynote-selfhost-proxy:${TAG}-arm64

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - push_backend:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
      - push_frontend:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
      - push_docs:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
      - push_selfhost_app_amd64:
          requires:
            - build_and_test
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - push_selfhost_app_arm64:
          requires:
            - build_and_test
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - combine_selfhost_app_manifest:
          requires:
            - push_selfhost_app_amd64
            - push_selfhost_app_arm64
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - push_selfhost_proxy_amd64:
          requires:
            - build_and_test
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - push_selfhost_proxy_arm64:
          requires:
            - build_and_test
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - combine_selfhost_proxy_manifest:
          requires:
            - push_selfhost_proxy_amd64
            - push_selfhost_proxy_arm64
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
