version: 2.1
orbs:
  aws-cli: circleci/aws-cli@5.1.0
  node: circleci/node@7.1.0
jobs:
  build_and_test:
    resource_class: medium
    docker:
      - image: cimg/node:22.15
        environment:
          EMAIL_FROM_NAME: CI_PLACEHOLDER
          EMAIL_FROM_ADDRESS: CI_PLACEHOLDER
          EMAIL_REPLY_TO_ADDRESS: CI_PLACEHOLDER
          AWS_REGION: CI_PLACEHOLDER
          AWS_ACCESS_KEY_ID: CI_PLACEHOLDER
          AWS_SECRET_ACCESS_KEY: CI_PLACEHOLDER
          DATABASE_URL: postgresql://dnd-assistant:dnd-assistant@localhost:5432/dnd-assistant?schema=public
      - image: postgres:16.1
        environment:
          POSTGRES_USER: dnd-assistant
          POSTGRES_PASSWORD: dnd-assistant
          POSTGRES_DB: dnd-assistant
    steps:
      - checkout
      - node/install-packages
      - run:
          name: prettier
          command: npx prettier --check .
      - run:
          name: migrate
          command: npx prisma migrate dev
      - run:
          name: lint, lint-locales, typecheck, test, build
          command: |
            export ENABLE_BUNDLE_ANALYZER=true
            npx nx run-many --targets=lint,lint-locales,typecheck,test,build --parallel=2
      - store_artifacts:
          path: ./dist/apps/frontend/stats.html
          destination: frontend-bundle-stats.html
  push_backend:
    resource_class: medium
    docker:
      - image: cimg/node:22.15
    steps:
      - checkout
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: docker-login
          command: echo "$DOCKER_PAT" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: push
          command: |
            export SOURCEMAP_UPLOAD=true
            ./scripts/build-push-api-dockerhub.sh ${CIRCLE_TAG:=stg}
  push_frontend:
    resource_class: large
    docker:
      - image: cimg/node:22.15
    steps:
      - checkout
      - aws-cli/setup
      - node/install-packages
      - run:
          name: build-frontend
          command: |
            export VITE_APP_VERSION=$CIRCLE_TAG
            export SOURCEMAP_UPLOAD=true
            export NODE_OPTIONS=--max-old-space-size=8192
            npx nx build frontend --skip-nx-cache
            [ -f "dist/apps/frontend/index.html" ] && [ -f "dist/apps/frontend/service-worker.js" ] || { echo "Both index.html and service-worker.js must exist. Something went wrong during build"; exit 1; }
      - run:
          name: move-frontend-build
          command: mv dist/apps/frontend ./www
      - run:
          name: push
          command: ./scripts/push-frontend-s3.sh ${CIRCLE_TAG:=stg}
  push_docs:
    resource_class: medium
    docker:
      - image: cimg/node:22.15
    steps:
      - checkout
      - aws-cli/setup
      - node/install-packages
      - run:
          name: build-docs
          command: npx nx build docs --skip-nx-cache
      - run:
          name: push
          command: ./scripts/push-docs-s3.sh ${CIRCLE_TAG:=stg}

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - push_backend:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
      - push_frontend:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
      - push_docs:
          requires:
            - build_and_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*.*/
            branches:
              ignore: /.*/
