---
import RootLayout from '../components/RootLayout.astro'
import GoToAppButton from '../components/GoToAppButton.astro'
---
<style>
  .center {
    text-align: center;
  }
</style>
<RootLayout title="About Us - Feynote">
  <div>
    <h1 class="center">About Us</h1>

    Hi there! Thanks for taking the time to read about us.
    <br /><br />
    The short of it is -- Chris and I (Julian) are both software engineers at our day job, but we both spend a <i>lot</i> of time playing TTRPG games!

    <br /><br />

    Here's a little bit more about each of us (if you care!):

    <br /><br />

    <b>About Julian</b>
    <br />
    I spend a lot of time working on open source things. At my day job I work for Mozilla on the accounts team. During my free time I'm either working on this app, or on <a href="https://recipesage.com" target="_blank">RecipeSage</a> (an open source recipe keeper).
    <br />
    I've been playing TTRPG games since I was 11 in Boy Scouts, where we'd play on long bus rides or at camp. I have lots of great memories throughout the years, but I have to say that my favorite is when the players in my campaign found an underground fighting ring where heroes would be pit against beasts & monstrosities. My party took it upon themselves to free the captive animals (at the Druid's encouragement), and found a humongous giant crab deep within the place. Freeing this crab was quite a task, but they accomplished it by using gaseous form (read: a crabby mist). It was quite the night, and to this day the party will occasionally chant in unison "crab, crab, crab".

    <br /><br />

    <b>About Chris</b>
    <br />
    Hey I'm a software engineer over at 2U, an edtech company, and in my free time you'll find me either writing, playing Helldivers with friends, or as a player in one of my three campaigns!
    <br />
    My characters include an extremist druid whose an anti-colonialist (yes the antagonizer in freeing the captive animals mentioned above), a demon summoning wizard, and of course everyone needs a good necromancer. As you can tell, I tend to enjoy playing more personality eccentric characters, but worry not DMs of the world I still manage to keep my average alignment neutral (I think). Anyways we've built this software for other TTRPG enthusist like us with the hope that it'll help bolster the tabletop community. TTRPG's are a great way to escape, build new connection, and have some laughs with friends. We hope this software can help connect you and whichever table you're apart of as a reflection of that!

    <br /><br />

    <div class="center">
      <GoToAppButton />
    </div>
  </div>
</RootLayout>
