---
import RootLayout from '../components/RootLayout.astro'
import GoToAppButton from '../components/GoToAppButton.astro'
---
<style>
  .center {
    text-align: center;
  }

  .feature-section {
    box-shadow: 1px 1px 7px rgba(0,0,0,0.7);
    background: rgba(0,0,0,0.7);
    padding: 5px 20px;
    margin-bottom: 20px;
  }

  .feature-section > div {
    display: grid;
    gap: 5px;
    grid-template-columns: 130px auto;
    margin-bottom: 20px;
  }
  .feature-section div div:first-child {
    font-weight: bold;
  }

  ul {
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<RootLayout title="Features - Feynote">
  <div>
    <h1>Feature List</h1>

    FeyNote is early on in it's development and we're working hard to bring all of our ideas to the platform. Here are a few of our highlight features, as well as a few we hope to add soon.

    <br /><br />

    <div>
      <div class="features">
        <div class="feature-section">
          <h3>Core Features</h3>
          <div>
            <div>TTRPG Content</div>
            <div>Embed your statblocks, spells, and items directly within your notes.</div>
          </div>
          <div>
            <div>Real-time Collaboration</div>
            <div>Share your document with others, and edit at the same time with live cursors!</div>
          </div>
          <div>
            <div>Offline First</div>
            <div>The entire site works offline, so that you can edit your notes on the go.</div>
          </div>
          <div>
            <div>Themeable</div>
            <div>We've built several options for themeing so that your content looks exactly like your source books.</div>
          </div>
          <div>
            <div>Paneable UI</div>
            <div>Have multiple documents open side-by-side or in multiple in-app tabs.</div>
          </div>
          <div>
            <div>Import URLs</div>
            <div>Paste a URL into FeyNote and your content will be pulled and automatically formatted for your notes.</div>
          </div>
        </div>
        <div class="feature-section">
          <h3>Relationships and References</h3>
          <div>
            <div>Tree</div>
            <div>Organize your content in a traditional hierarchy (if you like!).</div>
          </div>
          <div>
            <div>Graph</div>
            <div>View your content as a connected graph of nodes, helpful for browsing or seeing relationships.</div>
          </div>
          <div>
            <div>References</div>
            <div>Connect your notes by creating deep references to other documents. Text is automatically kept up-to-date as you edit.</div>
          </div>
          <div>
            <div>Previews</div>
            <div>Outgoing and incoming (backlinks) references between your documents</div>
          </div>
        </div>
        <div class="feature-section">
          <h3>Text</h3>
          <div>
            <div>Block-Style Nesting</div>
            <div>Organize your notes in bullet-journal style blocks, editing with herarchy for summarized notes.</div>
          </div>
          <div>
            <div>Rich Fonts</div>
            <div>Choose from a myriad of different fonts to fit your theme</div>
          </div>
        </div>
        <div class="feature-section">
          <h3>Calendars</h3>
          <div>
            <div>Customization</div>
            <div>Create an entirely arbitrary date system and organize your notes by date in your world.</div>
          </div>
        </div>
        <div class="feature-section">
          <h3>Supported Import Formats</h3>
          <div>
            <div>Obsidian</div>
          </div>
          <div>
            <div>Logseq</div>
          </div>
          <div>
            <div>URL</div>
            <div>Automatically pull TTRPG content from a URL</div>
          </div>
        </div>
        <div class="feature-section">
          <h3>Supported Export Formats</h3>
          <div>
            <div>JSON</div>
            <div>Capability to export documents to JSON.</div>
          </div>
          <div>
            <div>Markdown</div>
            <div>Capability to export documents to Markdown.</div>
          </div>
        </div>
        <div class="feature-section">
          <h3>We're working hard on the following</h3>
          <div>
            <div>Unlinked References</div>
            <div>Automatic detection of content that is missing a reference, for example NPC names</div>
          </div>
          <div>
            <div>Google Docs</div>
            <div>The ability to import downloads from Google Docs</div>
          </div>
          <div>
            <div>More Themes</div>
            <div>New and improved theming functionality</div>
          </div>
          <div>
            <div>Desktop/Mobile Apps</div>
            <div>The ability to download FeyNote to your device as a native application</div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="center">
      <GoToAppButton />
    </div>
  </div>
</RootLayout>
