---
import RootLayout from '../components/RootLayout.astro'
import GoToAppButton from '../components/GoToAppButton.astro'
---
<style>
  .center {
    text-align: center;
  }

  ul {
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<RootLayout>
  <div class="center">
    <h1>Feature List</h1>

    FeyNote is still under rapid development and we're working hard to bring all of our ideas to the platform. Here are a few of our highlight features, as well as a few we hope to add soon.

    <br /><br />

    <h2>
      Current Features
    </h2>
    <ul>
      <li>Headers, tables, and text formatting</li>
      <li>Embedded statblocks, spells, and items</li>
      <li>Sharing and collaboration with permission control</li>
      <li>Graph visualization for connected content</li>
      <li>Outgoing and incoming (backlinks) references</li>
      <li>Block-style editing with herarchy</li>
      <li>Fantasy (completely arbitrary!) calendars</li>
      <li>Offline editing, search, and browsing</li>
      <li>Editor themes</li>
      <li>Paneable UI - work with content side-by-side or in multiple tabs</li>
      <li>Dark and light mode</li>
      <li>AI chat with the capability to generate monsters and items</li>
    </ul>

    <h2>
      Upcoming Features
    </h2>
    <ul>
      <li>Embeddable character sheets</li>
      <li>Automatic content import from URL</li>
      <li>Tagging and sharing of tags</li>
      <li>Automatic detection of unlinked references</li>
      <li>More themes</li>
      <li>Desktop and mobile apps</li>
    </ul>


    <br />
    <br />

    <GoToAppButton />
  </div>
</RootLayout>
