---
import RootLayout from '../components/RootLayout.astro'
import GoToAppButton from '../components/GoToAppButton.astro'
---
<style>
  .center {
    text-align: center;
  }

  ul {
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<RootLayout title="Features - Feynote">
  <div class="center">
    <h1>Features!</h1>

    FeyNote is still under rapid development and we're working hard to bring all of our ideas to the platform. Here are a few of our highlight features, as well as a few we hope to add soon.

    <br /><br />

    <ul>
      <li>Offline-first editing support, search, and browsing</li>
      <li>Headers, tables, and text formatting</li>
      <li>Embedded statblocks, spells, and items</li>
      <li>Sharing and collaboration with permission control</li>
      <li>Graph visualization for connected content</li>
      <li>Outgoing and incoming (backlinks) references with hover preview</li>
      <li>Block-style editing with herarchy</li>
      <li>Fantasy (completely arbitrary!) calendars</li>
      <li>Theming</li>
      <li>Paneable UI - work with content side-by-side or in multiple tabs</li>
      <li>Dark and light mode</li>
      <li>Assistant that can be used to format content, ingest URLs, or ideagen</li>
    </ul>

    <br />

    <h2>
      Coming Soon
    </h2>
    <ul>
      <li>More themes</li>
      <li>Desktop and mobile apps</li>
      <li>Import & export from a variety of formats</li>
    </ul>


    <br />
    <br />

    <GoToAppButton />
  </div>
</RootLayout>
