---
import RootLayout from '../components/RootLayout.astro'
import GoToAppButton from '../components/GoToAppButton.astro';
---
<RootLayout title="Feynote">
  <style>
    h1 {
      font-size: 2.5rem;
      font-weight: 500;
    }

    .center {
      text-align: center;
    }

    .main-split {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--gap-size);

      margin-top: 100px;
      margin-bottom: 120px;
    }

    .main-split-left {
      align-content: center;
    }

    .main-split-right {
      align-content: center;
      text-align: center;
    }

    @media (max-width: 1200px) {
      .main-split {
        grid-template-columns: unset;
        grid-template-rows: auto auto;
        gap: 40px;
      }
    }

    .sections-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(auto, min-content);
      gap: 20px;
    }

    @media (max-width: 1200px) {
      .sections-container {
        grid-template-columns: 1fr;
      }
    }

    .section {
      margin-top: 40px;
      display: grid;
      grid-row: span 3;
      grid-template-rows: subgrid;
      justify-items: center;
    }

    .section h2 {
      margin: 0;
    }

    .section .description {
      max-width: min(90%, 700px);
      margin-left: auto;
      margin-right: auto;
    }

    img.preview {
      max-width: min(100%, max(50%, 700px));
      border-radius: 8px;
      box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top left;
    }

    .main-split img.preview {
      width: auto;
      height: auto;
    }
  </style>
  <div>
    <div class="main-split">
      <div class="main-split-left">
        <h1>Welcome to FeyNote!</h1>

        A free note-taking app for world-builders and tabletop RPG players.

        <br />
        <br />

        Embed statblocks and spells, collaborate on session notes, and organize your world notes by placing pins on a map.

        <br />
        <br />

        <GoToAppButton />
      </div>

      <div class="main-split-right">
        <img class="preview" src="https://static.feynote.com/screenshots/feynote-artifact-20240924.jpg" alt="FeyNote Artifact Editor" />
      </div>
    </div>

    <div class="sections-container">
      <div class="section center">
        <h2>Statblocks, Spells, and Items</h2>

        <div class="description">
          Your monsters, spells, and items exist <b>inside</b> of your notes.<br />
          Create custom content, or tweak official content as you edit.
        </div>

        <img class="preview" src="https://static.feynote.com/screenshots/feynote-embedded-statblocks-20251129.jpg" alt="FeyNote Embedded Statblocks" />
      </div>

      <div class="section center">
        <h2>Link Related Content</h2>

        <div class="description">
          Quickly reference related content, which automatically updates as you edit.<br />
          Keep track of storylines, NPCs, and important events.
        </div>

        <img class="preview" src="https://static.feynote.com/screenshots/feynote-references-20240924.jpg" alt="FeyNote Linked Content" />
      </div>

      <div class="section center">
        <h2>Sharing and Collaboration</h2>

        <div class="description">
          FeyNote is built with sharing in mind from the ground up.<br />
          Edit offline when away from an internet connection, and your content will sync up when you come back online (yes, even though it's a website!).
        </div>

        <img class="preview" src="https://static.feynote.com/screenshots/feynote-sharing-20240924.jpg" alt="FeyNote Sharing Options" />
      </div>

      <div class="section center">
        <h2>Fantasy Calendars</h2>

        <div class="description">
          FeyNote's calendar functionality is wildly customizable. Customize the number of months in a year, the number of days in each month, and the names of everything!
        </div>

        <img class="preview" src="https://static.feynote.com/screenshots/feynote-calendar-20240924.jpg" alt="FeyNote Calendar" />
      </div>

      <div class="section center">
        <h2>Graph <i>and</i> Tree Organization</h2>

        <div class="description">
          Don't choose between graph or tree, have both! You can create a hierarchy of high level topics, as well as view a web of interconnected TTRPG content.
        </div>

        <img class="preview" src="https://static.feynote.com/screenshots/feynote-graph-20240924.jpg" alt="FeyNote Graph Visualizer" />
      </div>

      <div class="section center">
        <h2>Automatically Grab and Format Content</h2>

        <div class="description">
          Whether you play Dungeons and Dragons, OpenLegend, Starfinder, or another tabletop system, our fantasy note taking tool makes formatting/creating custom monster blocks and items, as well as grabbing content from URLs easy!
        </div>

        <img class="preview" src="https://static.feynote.com/screenshots/feynote-chatbot-20250716.jpg" alt="FeyNote AI Thread" />
      </div>
    </div>
  </div>
</RootLayout>
