---
import RootLayout from '../components/RootLayout.astro'
import GoToAppButton from '../components/GoToAppButton.astro'
---
<style>
  .center {
    text-align: center;
  }
</style>
<RootLayout title="Pricing - Feynote">
  <div class="center">
    <h1>Pricing</h1>

    FeyNote is currently completely free to use.<br />
    We do plan on adding a paid tier to the platform, but remain committed to keeping a free tier available for all users, without any limitations on the number of artifacts or collaborators you can have.

    <br /><br />

    That said, we do need support to keep the lights on and continue to develop the app.<br />
    If you find FeyNote useful, please consider supporting us!
  </div>
</RootLayout>
