---
import RootLayout from '../components/RootLayout.astro'
import GoToAppButton from '../components/GoToAppButton.astro'
---
<style>
  .center {
    text-align: center;
  }
</style>
<RootLayout title="Pricing - Feynote">
  <div>
    <h1 class="center">Pricing</h1>

    All features within FeyNote are <i>completely</i> free to use and it's our goal for this platform to be an accessible place without any ads or limits on amount of content.

    <br /><br />

    We <i>do</i> have some benefits for contributors (similar to a Patreon-like contributor model), those supporter tiers <i>only</i> increase limits on things that are exceedingly costly to host, such as extra-large file uploads.

    <br /><br />

    All funds that are contributed go directly towards the improvement of the platform. We're not a for-profit corporation. If you find FeyNote useful, please consider supporting us!<br />

    <br />
    <br />

    <div class="center">
      <GoToAppButton />
    </div>
  </div>
</RootLayout>
