---
import RootLayout from '../components/RootLayout.astro'
---
<style>
</style>
<RootLayout
  title="Terms of Service - FeyNote"
  description="FeyNote's terms of service, privacy policy, sharing policy, and refund policy. Learn about our commitment to user privacy and fair use for TTRPG content."
>
  <div>
    <p>Here you'll find a summary of the legal agreements and disclaimers. Julian and I have done our best to find a fair terms of service online.
    Please let us know if you have questions or issues about any of this.
    We apologize for the legal jargon.</p>

    <h1>Feynote Terms of Service</h1>

    <h2>1. Terms</h2>
    <p>By accessing the website at feynote.com or app.feynote.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.</p>

    <h2>2. Use License</h2>
    <p>Software is provided for personal use only. If you'd like to use Feynote for commercial purposes, please send us an email and we can discuss a commercial license.</p>

    <h2>3. Disclaimer</h2>
    <p>Software is provided on an "AS IS" basis, without warranty of any kind, including without limitation the warranties of merchantability, fitness for a particular purpose and non-infringement. The entire risk as to the quality and performance of the Software is borne by you. Should the Software prove defective, you and not the vendor assume the entire cost of any service and repair.
    In no event shall the creators, contributors, or providers be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business
    Contrubtions and/or donations do not guarantee service, or represent any agreement or contract. Perks and features unlocked or granted by contributions and/or donations are not guaranteed, and may change at any time without warning.</p>

    <h2>4. Limitations</h2>
    <p>In no event shall Feynote or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption), even if Feynote or a Feynote authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

    <h2>5. Accuracy of materials</h2>
    <p>The materials appearing on Feynote's website could include technical, typographical, or photographic errors.</p>

    <h2>6. Links</h2>
    <p>Feynote has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Feynote of the site. Use of any such linked website is at the user's own risk.</p>

    <h2>7. Modifications</h2>
    <p>Feynote may revise these terms of service at any time without notice. By continuing to use the software you are agreeing to be bound by the then current version of these terms of service.</p>

    <h2>8. Governing Law</h2>
    <p>These terms and conditions are governed by and construed in accordance with the laws of California and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

    <h2>Feynote Privacy Policy</h2>

    <p>Your privacy is important! It is Feynote's policy to respect your privacy regarding any information we store from you across the software.</p>
    <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
    <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
    <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
    <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
    <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
    <p>Use of the cooking assistant relies on the APIs provided by OpenAI and therefore any interactions that use the cooking assistant or related functionality is also by proxy subject to their terms of service.</p>
    <p>The contributor-only feature that specifies "unlimited" messages is subject to protections against abuse.</p>
    <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
    <p>Feynote may revise this privacy policy at any time without notice. By continuing to use the software you are agreeing to be bound by the then current version of the privacy policy.</p>
    <h2>Feynote Sharing Policy</h2>
    <p>Feynote has several wonderful sharing features that allow you to share & collaborate with other users.
    This can however, lead to some users abusing that functionality.</p>
    <p>By using these sharing features, you agree that you will only upload & share content that you have the license to, including (but not limited to): any text content, images, notes, and title.
    We expect that you as the user will follow fair use laws, and will do your best not to use Feynote to share copyrighted content that you don't have the rights to.</p>

    <p>The most important part - If we're notified by a copyright holder of copyrighted content present publicly, for example on your profile, we will need to take action. We'll always notify you if this is the case. Our actions may include (but are not limited to): removing the copyrighted content from your public profile or disabling your public profile temporarily.
    Please keep these rules in mind when you use the public sharing features, and begin sharing content with your friends.</p>

    <h2>Feynote Refund Policy</h2>

    <p>You're welcome to request a refund by contacting us via email. You may request a refund for contributions made within the past month. Exceptions to this timeframe may be considered in compliance with local laws, which will dictate the applicable refund period. Refund requests will be reviewed on a case-by-case basis, and approval for refunds outside the standard period will be contingent upon adherence to relevant legal requirements. Contact us for any refund inquiries.</p>
    <br />
    <p>These terms last updated and effective as of the 16th of June 2024.</p>
  </div>
</RootLayout>
