---
import {
  ShareviewApp,
} from '@feynote/ui';
import {
  prisma
} from '@feynote/prisma/client';

export const prerender = false;

const { artifactId } = Astro.params;

const artifact = await prisma.artifact.findUnique({
  where: {
    id: artifactId,
  },
  select: {
    id: true,
    title: true,
  },
});
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{artifact.title} - FeyNote</title>
    <meta name="description" content={`${artifact.title} - User-created TTRPG content on FeyNote. Free note-taking app for D&D and tabletop RPG campaigns with statblocks, spells, and collaboration.`} />
    <meta name="darkreader-lock" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="https://static.feynote.com/assets/favicon-20240925.ico" />
  </head>
  <body>
    <div id="root"></div>
    <div id="referencePreviewContainer"></div>
    <ShareviewApp id={artifactId} client:only="react" />
  </body>
</html>
