<style>
  .go-to-app {
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #256be7;
    color: var(--text-color, #ffffff);
    text-decoration: none;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
    display: inline-block;
  }
</style>
<a href="https://app.feynote.com" class="go-to-app">Go to Web App</a>
